<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>公車列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/layui.css">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  </head>
  <body>
    <div style=" background-color: #33ABA1;">
      <span style="color: #FFFFFF; margin-left: 10px; font-size: 17px;">
        {% if html_status == 0 %}
          <a href="/btn_signup" style="color: #FFFFFF;">註冊</a>
          <a href="/btn_login" style="color: #FFFFFF;">登入</a>
        {% else %}
          {{ html_nickname }}
          <a href="/signout" style="color: #FFFFFF;">登出</a>
          <a href="/myfavorite" style="color: #FFFFFF;">我的最愛</a>
        {% endif %}
      </span>
    </div>
    <div style="width: 1500px;height: 500px;margin: 20px auto">
      <form class="layui-form" action="/search">
          <div class="layui-form-item">
              <label class="layui-form-label">公車名稱</label>
              <div class="layui-input-block">
                  <input type="text" name="BusName" lay-verify="title" autocomplete="off" placeholder="請輸入公車名稱" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="formDemo">搜尋</button>
            </div>
          </div>
      </form>
      <div style="padding-bottom: 60px;">
        <table class="layui-table">
          <colgroup>
            <col width="500">
          </colgroup>
          <tbody>
            {% for bus_list in html_bus_list %}
              <tr>
                  <td>
                      {% if bus_list.Favorite == 1 %}
                        <a href="/dislike/{{ bus_list.Id }}">
                          <i class="layui-icon layui-icon-heart-fill" style="font-size: 25px; color: #FF0000;"></i> 
                        </a>
                      {% else %}
                        <a href="/like/{{ bus_list.Id }}">
                          <i class="layui-icon layui-icon-heart" style="font-size: 25px; color: #FF0000;"></i>   
                        </a>
                      {% endif %}
                      <a href="/bus_timetable/{{ bus_list.Id }}">{{ bus_list.nameZh }}</a>
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
    </div>



  <script src="/static/layui.js" charset="utf-8"></script>

  </body>
</html>