<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>異常</title>
        <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
        <link rel="stylesheet" href="/static/css/layui.css">
    </head>
    <body>
        <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            <span style="font-size: 30px;">
                {{ html_message }}
            </span>
            
        </div>

        <!-- 请勿在项目正式环境中引用该 layui.js 地址
        <script src="/static/layui.js" charset="utf-8"></script> -->
        
    </body>
</html>